@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto';
    background-color:  #198754;
    font-weight: 700;
    height: 100vh;
    font-size: 20px;
}

.container-fluid {
    color:  #198754;
}

.inner-row {
    height: 100vh;
}

.primaryBg {
    background:  #198754;
}

.primaryColor {
    color:  #198754;
}

.form-box {
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.links {
    color: #198754;
    text-decoration: none;
    font-weight: bold;
    border: 1px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.links:hover {
    color: #198754;
}